*{
    padding: 0%;
    margin: 0%;
}
.bi bi
{
    margin:2px 3px 10px 3px;
}
.btn {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 10px;
    border-radius: 500px;
    display: inline block;
    font-weight: 500;
    /* background-size: 152% 100%; */
    background: brown;
    
  }
  .btn:hover {
    background: white;
    border-color: white;
    color: black;
  }
  .nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(182, 36, 36);
    padding: 10px 32px;
    background: rgb(7, 7, 7);
    transition: 3s;
  }
  .card2{
      height: 30rem;
     background-image: url(/Images/Rwanda.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 30px;
     margin-top: 20px;
  }
  